.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;

  height: 100vh;
  min-height: 720px;
  max-height: 800px;

  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  width: 44px;
  height: 44px;
}

.nav__links {
  display: flex;
  gap: 20px;

  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}

.nav__link {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  max-width: 6
